DB_HOST=localhost
DB_USER=connect4_user
DB_PASSWORD=replace_me
DB_DATABASE=connect4_app
DB_PORT=3306
DB_DIALECT=mysql
PORT=3000

API_URL=https://sepolia.infura.io/v3/replace_me
PRIVATE_KEY=replace_me_without_0x
CONTRACT_ADDRESS=
JWT_SECRET=replace_with_a_long_random_string
